$baseFontSize: 16;
$segoiUI: 'Segoe UI';
$rowWidth: 84em;
$columns: 14;
$columnSpace: 0.75em;
$whiteColor: white;
$blackColor: black;
$easing: cubic-bezier(0.5, 0.7, 0.4, 1);

/*screenSises*/

$xxxLarge: 120em; //1920
$xxLarge: 100em; //1600
$xLarge: 90em; //1440
$large: 85.375em; //1366
$small: 80em; //1280
$tablet: 64em; //1024
$xSmall: 48em; //768
$mobile: 46em; //600